# Android/Gradle
.gradle/
# Ignores the build folder, but does not load the APK file to keep it uploaded
build/
!**/build/outputs/apk/
!**/build/outputs/bundle/

local.properties
*.iml
.idea/
*.keystore
*.jks

# Wallet files (NEVER commit!)
*.wallet
*.spvchain

# OS
.DS_Store
Thumbs.db
